In [61]:
import pandas as pd

## 1. Load the dataset

In [62]:
# 1. Dataset for SA2 population information of each suburb in past 20 years

df_suburb_population_past_20_years = pd.read_excel('../../data/raw/population_dataset/suburb_2001-2022_population_SA2_1.xlsx'
                                                   ,header=6)

"""
2. Dataset for VIC 2022-2023 colunmns:
a. Natural increase number (No.)
b. Natural increase rate (%)
c. Net internal migration (No.)
d. Net overseas migration (No.) 
e. Suburb Area Covergae (degree in Km^2) 
f. 2023 population density (pesons / Km^2)
"""
# 2. 2022-2023年关于维州郊区:a.自然增长人数 b.自然增长率 c.内部净迁移人数 d.净海外移民人数 e.suburb面积平方公里 F. 2023年人口密度

df_population_info_2022_to_2023 = pd.read_excel('../../data/raw/population_dataset/ERP_change_2023_1.xlsx'
                                                   ,header=6)

## 2. Respectively Rename the Columns for datasets

#### (1). For past year 20 years population dataset

In [63]:
columns = df_suburb_population_past_20_years.columns

# 使用 for 循环遍历列名，并对以 'no.' 开头的列重命名为 2001 到 2023 年
# Use the for loop to iterate through column names and rename columns starting with 'no.' to 2001 through 2023
year = 2001
new_columns = []
for col in columns:
    if col.strip().startswith('no.'):  
        new_col_name = str(year)  # Use the year to update the new column name
        new_columns.append(new_col_name)
        year += 1  # loops years
    else:
        new_columns.append(col)

# 将新的列名赋值给 DataFrame
# Assign the new column name to the DataFrame
df_suburb_population_past_20_years.columns = new_columns

print(df_suburb_population_past_20_years.columns)

Index(['GCCSA code', 'GCCSA name', 'SA4 code', 'SA4 name', 'SA3 code',
       'SA3 name', 'SA2 code', 'SA2 name', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

#### (2). For past year 20 years population dataset

In [64]:
df_population_info_2022_to_2023 = df_population_info_2022_to_2023. \
    drop(df_population_info_2022_to_2023.columns[0:6], axis=1)

print(df_population_info_2022_to_2023.columns)

Index(['SA2 code', 'SA2 name', 'no.', 'no..1', 'no..2', '%', 'no..3', 'no..4',
       'no..5', 'km2', 'persons/km2'],
      dtype='object')

In [65]:
# drop duplicate columns in population dataset
df_population_info_2022_to_2023 = df_population_info_2022_to_2023. \
    drop(columns = [df_population_info_2022_to_2023.columns[1],
                    df_population_info_2022_to_2023.columns[2],
                    df_population_info_2022_to_2023.columns[3]],
                    axis=1)

In [66]:
# Rename columns

df_population_info_2022_to_2023 = df_population_info_2022_to_2023.rename(columns={
    "no..2" : "ERP_2023_change_number",  # 常住人口预测(考虑到人口自然增长率/移民人数)
    "%" : "ERP_2023_change_percentage(%)",
    "no..3" : "natural_2023_increase_number", # 人口自然增长率 = 出生人数-死亡人数
    "no..4" : "internal_2023_migration_number",
    "no..5" : "overseas_2023_migration_number",
    "km2" : "area_in_square_kilometers", # 区域占地面积(km^2)
    "persons/km2" : "population_density_2023" # 人口密度(persons/km^2)
})
df_population_info_2022_to_2023.head(5).iloc[1:]

,SA2 code,ERP_2023_change_number,ERP_2023_change_percentage(%),natural_2023_increase_number,internal_2023_migration_number,overseas_2023_migration_number,area_in_square_kilometers,population_density_2023
1,201011002.0,-129.0,-1.1,-57.0,-213.0,141.0,12.4,954.0
2,201011005.0,76.0,1.0,15.0,-19.0,80.0,51.6,142.0
3,201011006.0,1071.0,9.1,133.0,898.0,40.0,34.2,376.7
4,201011007.0,45.0,1.1,11.0,31.0,3.0,104.7,40.8

In [67]:
df_population_info_2022_to_2023.dtypes

SA2 code                          float64
ERP_2023_change_number            float64
ERP_2023_change_percentage(%)     float64
natural_2023_increase_number      float64
internal_2023_migration_number    float64
overseas_2023_migration_number    float64
area_in_square_kilometers         float64
population_density_2023           float64
dtype: object

In [68]:
print(type(df_suburb_population_past_20_years))      
print(type(df_population_info_2022_to_2023)) 
print(df_suburb_population_past_20_years.dtypes)
print(df_population_info_2022_to_2023.dtypes)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
GCCSA code     object
GCCSA name     object
SA4 code      float64
SA4 name       object
SA3 code      float64
SA3 name       object
SA2 code      float64
SA2 name       object
2001          float64
2002          float64
2003          float64
2004          float64
2005          float64
2006          float64
2007          float64
2008          float64
2009          float64
2010          float64
2011          float64
2012          float64
2013          float64
2014          float64
2015          float64
2016          float64
2017          float64
2018          float64
2019          float64
2020          float64
2021          float64
2022          float64
2023          float64
dtype: object
SA2 code                          float64
ERP_2023_change_number            float64
ERP_2023_change_percentage(%)     float64
natural_2023_increase_number      float64
internal_2023_migration_number    float64
overseas_2023_migration_number    float64
area_in_square_kilometers         float64
population_density_2023           float64
dtype: object

In [69]:
# transfer type integer on SA2 code on two dataset respectively to prepare for combing two datasets.
df_suburb_population_past_20_years['SA2 code'] = pd.to_numeric(df_suburb_population_past_20_years['SA2 code'], \
                                                                errors='coerce').astype('Int64')

df_population_info_2022_to_2023['SA2 code'] = pd.to_numeric(df_population_info_2022_to_2023['SA2 code'], \
                                                             errors='coerce').astype('Int64')

## 3. Filter All Information in Victoria / Combine Two datasets together by SA_3 Code

### a. Filter Victoria information by SA_3 code in population dataset

In [70]:
# SA3 code: 20101-21705 is the VIctoria region
df_suburb_population_past_20_years = df_suburb_population_past_20_years[
    (df_suburb_population_past_20_years['SA3 code'] >= 20101) & 
    (df_suburb_population_past_20_years['SA3 code'] <= 21705)
]

In [71]:
df_suburb_population_past_20_years.head(5)

,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
642,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001,Alfredton,5756.0,6092.0,...,10338.0,11039.0,11852.0,12649.0,13537.0,14434.0,15507.0,16841.0,18002.0,18997.0
643,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002,Ballarat,11497.0,11708.0,...,12327.0,12300.0,12301.0,12266.0,12244.0,12320.0,12196.0,12071.0,11938.0,11809.0
644,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005,Buninyong,5320.0,5399.0,...,7082.0,7191.0,7311.0,7409.0,7418.0,7458.0,7377.0,7229.0,7247.0,7323.0
645,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006,Delacombe,4154.0,4225.0,...,6583.0,6846.0,7195.0,7622.0,8183.0,8890.0,9755.0,10648.0,11798.0,12869.0
646,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007,Smythes Creek,3317.0,3378.0,...,3945.0,3966.0,3990.0,4004.0,4042.0,4112.0,4152.0,4211.0,4223.0,4268.0

In [72]:
# Combine two datasets by SA2 code.
df_combined_population = pd.merge(df_suburb_population_past_20_years, 
                                  df_population_info_2022_to_2023, 
                                    on='SA2 code',    
                                    how='inner')     
print(df_combined_population.isna().sum())

GCCSA code                        0
GCCSA name                        0
SA4 code                          0
SA4 name                          0
SA3 code                          0
SA3 name                          0
SA2 code                          0
SA2 name                          0
2001                              0
2002                              0
2003                              0
2004                              0
2005                              0
2006                              0
2007                              0
2008                              0
2009                              0
2010                              0
2011                              0
2012                              0
2013                              0
2014                              0
2015                              0
2016                              0
2017                              0
2018                              0
2019                              0
2020                              0
2021                              0
2022                              0
2023                              0
ERP_2023_change_number            0
ERP_2023_change_percentage(%)     0
natural_2023_increase_number      0
internal_2023_migration_number    0
overseas_2023_migration_number    0
area_in_square_kilometers         0
population_density_2023           0
dtype: int64

In [73]:
df_combined_population.dtypes

GCCSA code                         object
GCCSA name                         object
SA4 code                          float64
SA4 name                           object
SA3 code                          float64
SA3 name                           object
SA2 code                            Int64
SA2 name                           object
2001                              float64
2002                              float64
2003                              float64
2004                              float64
2005                              float64
2006                              float64
2007                              float64
2008                              float64
2009                              float64
2010                              float64
2011                              float64
2012                              float64
2013                              float64
2014                              float64
2015                              float64
2016                              float64
2017                              float64
2018                              float64
2019                              float64
2020                              float64
2021                              float64
2022                              float64
2023                              float64
ERP_2023_change_number            float64
ERP_2023_change_percentage(%)     float64
natural_2023_increase_number      float64
internal_2023_migration_number    float64
overseas_2023_migration_number    float64
area_in_square_kilometers         float64
population_density_2023           float64
dtype: object

In [74]:
# 1. cast integer for population 2001 - 2023
years = list(map(str, range(2001, 2024)))
df_combined_population[years] = df_combined_population[years].astype(int)

# 2. cast integer for number columns
columns_to_cast = [
    'ERP_2023_change_number', 
    'natural_2023_increase_number', 
    'internal_2023_migration_number', 
    'overseas_2023_migration_number'
]
df_combined_population[columns_to_cast] = df_combined_population[columns_to_cast].astype(int)

In [75]:
# degree for population_density is (pesons / Km^2)
df_combined_population.head(5)

,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,2001,2002,...,2021,2022,2023,ERP_2023_change_number,ERP_2023_change_percentage(%),natural_2023_increase_number,internal_2023_migration_number,overseas_2023_migration_number,area_in_square_kilometers,population_density_2023
0,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001,Alfredton,5756,6092,...,16841,18002,18997,995,5.5,140,695,160,52.7,360.4
1,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002,Ballarat,11497,11708,...,12071,11938,11809,-129,-1.1,-57,-213,141,12.4,954.0
2,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005,Buninyong,5320,5399,...,7229,7247,7323,76,1.0,15,-19,80,51.6,142.0
3,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006,Delacombe,4154,4225,...,10648,11798,12869,1071,9.1,133,898,40,34.2,376.7
4,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007,Smythes Creek,3317,3378,...,4211,4223,4268,45,1.1,11,31,3,104.7,40.8

In [76]:
years = list(map(str, range(2001, 2024)))

# 构建新的列名字典，将年份列添加 '_population' 后缀
# # Build a new column name dictionary by adding the '_population' suffix to the year column
new_column_names = {year: year + '_population' for year in years}

df_combined_population = df_combined_population.rename(columns=new_column_names)

print(df_combined_population.columns)

Index(['GCCSA code', 'GCCSA name', 'SA4 code', 'SA4 name', 'SA3 code',
       'SA3 name', 'SA2 code', 'SA2 name', '2001_population',
       '2002_population', '2003_population', '2004_population',
       '2005_population', '2006_population', '2007_population',
       '2008_population', '2009_population', '2010_population',
       '2011_population', '2012_population', '2013_population',
       '2014_population', '2015_population', '2016_population',
       '2017_population', '2018_population', '2019_population',
       '2020_population', '2021_population', '2022_population',
       '2023_population', 'ERP_2023_change_number',
       'ERP_2023_change_percentage(%)', 'natural_2023_increase_number',
       'internal_2023_migration_number', 'overseas_2023_migration_number',
       'area_in_square_kilometers', 'population_density_2023'],
      dtype='object')

## The formula to estimate the 2024 population is:

$$
\text{Estimated\_2024\_Population} = \text{2023\_Population} \times \left( 1 + \frac{\text{ERP\_2023\_Change\_Percentage}(\%)}{100} \right)
$$

In [77]:
# Calculate 2024 population projections and round them by using ERP change percentage in 2022-2023
# 得到的结果四舍五入
df_combined_population['estimated_2024_population'] = (
    df_combined_population['2023_population'] * (1 + df_combined_population['ERP_2023_change_percentage(%)']/100)
).round()

# cast to integer
df_combined_population['estimated_2024_population'] = df_combined_population['estimated_2024_population'].astype("Int64")

In [78]:
# 计算 estimated_2024_population 列的总和
# Calculate the sum of the estimated 2024 population columns
estimated_2024_population = df_combined_population['estimated_2024_population'].sum()

print(f"Total sum of estimated 2024 population in Victoria: {estimated_2024_population}")

Total sum of estimated 2024 population in Victoria: 7012757

## The high series population estimate for 2024 in Victoria by ABS is 6941905. Therefore, our method for rough estimate for each suburb is accpetable.

In [79]:
print(df_combined_population["estimated_2024_population"].head(20))

0     20042
1     11679
2      7396
3     14040
4      4315
5     15477
6      9618
7     15135
8     12470
9     12808
10     6739
11     8003
12    10166
13     6440
14     3648
15     4808
16     4984
17     8138
18     5723
19    14508
Name: estimated_2024_population, dtype: Int64

## Save the dataset

In [80]:
## df_combined_population.to_csv('/path/to/your/directory/df_combined_population.csv', index=False)
df_combined_population.to_csv('../../data/curated/population_cleaned/df_combined_population.csv', index=False)