In [127]:
import pandas as pd
import requests

## NOTES

- I have only gotten the format for the urls, haven't created the entire file system, intend to do probably on saturday
- School data haven't gotten because I'm not sure it'd be the best suited for our needs
  - Only lists government schools
  - Not sure if we want the actual location, but I suppose we could try use a google maps API call if needed to
  - Not sure if we want some metric for the quality of the school, like median atar or something stupid

## Historic Listings

- **NOTE:** there are many sheets involved with this that go from
  - 1-3 bedroom flat
  - 2-4 bedroom house
  - Have only sampled one sheet

In [177]:
LISTINGS_URL = "https://www.dffh.vic.gov.au/moving-annual-rents-suburb-march-quarter-2023-excel"
data = requests.get(LISTINGS_URL).content

In [178]:
rows_skip = list(range(1))

df = pd.read_excel(data,
                   sheet_name="1 bedroom flat",
                   skiprows=rows_skip,
                   index_col=[0, 1], 
                   header=[0, 1])

df.head()

Moving annual rent by suburb                          Mar 2000         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      352    165
                Armadale                                   210    150
                Carlton North                               87    150
                Carlton-Parkville                          303    165
                CBD-St Kilda Rd                            755    250

Moving annual rent by suburb                          Jun 2000         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      347    165
                Armadale                                   212    150
                Carlton North                               78    155
                Carlton-Parkville                          300    170
                CBD-St Kilda Rd                            861    250

Moving annual rent by suburb                          Sep 2000         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      378    170
                Armadale                                   213    155
                Carlton North                               74    150
                Carlton-Parkville                          315    175
                CBD-St Kilda Rd                            934    250

Moving annual rent by suburb                          Dec 2000         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      369    175
                Armadale                                   213    160
                Carlton North                               65    150
                Carlton-Parkville                          351    180
                CBD-St Kilda Rd                            952    250

Moving annual rent by suburb                          Mar 2001         ...  \
1 bedroom flat                                           Count Median  ...
Inner Melbourne Albert Park-Middle Park-West St Kilda      395    180  ...
                Armadale                                   206    160  ...
                Carlton North                               73    160  ...
                Carlton-Parkville                          360    190  ...
                CBD-St Kilda Rd                           1145    255  ...

Moving annual rent by suburb                          Mar 2022         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      269    315
                Armadale                                   223    310
                Carlton North                               79    300
                Carlton-Parkville                         3516    259
                CBD-St Kilda Rd                           8769    320

Moving annual rent by suburb                          Jun 2022         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      262    325
                Armadale                                   233    320
                Carlton North                               68    320
                Carlton-Parkville                         3544    269
                CBD-St Kilda Rd                           8619    340

Moving annual rent by suburb                          Sep 2022         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      277    340
                Armadale                                   237    340
                Carlton North                               72    320
                Carlton-Parkville                         4296    300
                CBD-St Kilda Rd                           9913    365

Moving annual rent by suburb                          Dec 2022         \
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      260    350
                Armadale                                   238    350
                Carlton North                               71    330
                Carlton-Parkville                         4203    309
                CBD-St Kilda Rd                           9638    390

Moving annual rent by suburb                          Mar 2023
1 bedroom flat                                           Count Median
Inner Melbourne Albert Park-Middle Park-West St Kilda      262    360
                Armadale                                   204    360
                Carlton North                               64    373
                Carlton-Parkville                         4488    352
                CBD-St Kilda Rd                           9781    430

[5 rows x 186 columns]

## Interest Rates

In [191]:
LENDING_URL = "https://www.rba.gov.au/statistics/tables/xls/f06hist.xlsx"
DEPOSIT_RATES = "https://www.rba.gov.au/statistics/tables/xls/f04hist.xlsx"
PAID_DEPOSIT_RATES = "https://www.rba.gov.au/statistics/tables/xls/f04-1-hist.xlsx"

In [192]:
data = requests.get(LENDING_URL).content

rows_skip = list(range(11))
rows_skip.pop(1)

df = pd.read_excel(data, 
                   sheet_name="Data",
                   skiprows=rows_skip,
                   index_col=0, 
                   header=0)

df.sample(5)

,Lending rates; Housing credit; Outstanding; Owner-occupied; All loans; Large institutions,Lending rates; Housing credit; Outstanding; Owner-occupied; All loans; All institutions,Lending rates; Housing credit; Outstanding; Owner-occupied; Variable-rate; Large institutions,Lending rates; Housing credit; Outstanding; Owner-occupied; Variable-rate; All institutions,"Lending rates; Housing credit; Outstanding; Owner-occupied; Fixed-rate, by residual fixed term; Less than or equal to 3 years","Lending rates; Housing credit; Outstanding; Owner-occupied; Fixed-rate, by residual fixed term; Greater than 3 years",Lending rates; Housing credit; Outstanding; Owner-occupied; By repayment type; Interest-only,Lending rates; Housing credit; Outstanding; Owner-occupied; By repayment type; Principal-and-interest,Lending rates; Housing credit; New loans funded in the month; Owner-occupied; All loans; Large institutions,Lending rates; Housing credit; New loans funded in the month; Owner-occupied; All loans; All institutions,...,Lending rates; Housing credit; New loans funded in the month; Investment; Variable-rate; All institutions,"Lending rates; Housing credit; New loans funded in the month; Investment; Fixed, by residual fixed term; Less than or equal to 3 years","Lending rates; Housing credit; New loans funded in the month; Investment; Fixed, by residual fixed term; Greater than 3 years",Lending rates; Housing credit; New loans funded in the month; Investment; By repayment type; Interest-only,Lending rates; Housing credit; New loans funded in the month; Investment; By repayment type; Principal-and-interest,Lending rates; Housing credit; New loans funded in the month; Investment; By loan-to-valuation ratio at commitment; Less than 81%,Lending rates; Housing credit; New loans funded in the month; Investment; By loan-to-valuation ratio at commitment; Greater than or equal to 81%,"Lending rates; Housing credit; New loans funded in the month; Investment; By value at commitment; Less than or equal to $600,000","Lending rates; Housing credit; New loans funded in the month; Investment; By value at commitment; $600,000 - $1,000,000","Lending rates; Housing credit; New loans funded in the month; Investment; By value at commitment; Greater than $1,000,000"
Title,,,,,,,,,,,,,,,,,,,,,
2020-11-30,3.08,3.09,3.15,3.17,2.86,2.75,3.81,3.03,2.61,2.62,...,3.15,2.59,2.43,3.10,2.87,2.94,2.99,2.95,2.95,2.96
2019-07-31,3.83,3.84,3.80,3.81,3.94,4.35,4.31,3.77,3.52,3.49,...,3.90,3.81,4.15,4.16,3.79,3.88,3.96,3.87,3.92,3.92
2024-02-29,5.89,5.91,6.34,6.36,3.41,5.13,6.99,5.87,6.28,6.27,...,6.53,6.53,7.91,6.64,6.45,6.50,6.75,6.55,6.53,6.50
2023-11-30,5.80,5.80,6.36,6.39,3.27,4.75,6.98,5.76,6.23,6.23,...,6.50,6.41,7.21,6.62,6.43,6.47,6.78,6.52,6.50,6.47
2024-06-30,6.02,6.03,6.36,6.37,3.49,5.84,7.02,5.99,6.29,6.28,...,6.52,6.52,7.45,6.64,6.44,6.50,6.74,6.53,6.53,6.49

In [188]:
data = requests.get(DEPOSIT_RATES).content

rows_skip = list(range(11))
rows_skip.pop(1)

df = pd.read_excel(data, 
                   sheet_name="Data",
                   skiprows=rows_skip,
                   index_col=0, 
                   header=0)

df.head(5)

,Retail deposit and investment rates; Transaction accounts; Banks; $5000,Retail deposit and investment rates; Transaction accounts; Building societies; $5000,Retail deposit and investment rates; Transaction accounts; Credit unions; $5000,"Retail deposit and investment rates; Transaction accounts; Building societies, credit unions and mutual banks; $5000",Retail deposit and investment rates; Savings accounts; Banks' bonus savings accounts; $10000,Retail deposit and investment rates; Savings accounts; Online savings accounts; $10000,Retail deposit and investment rates; Savings accounts; Cash management accounts at banks; $10000,Retail deposit and investment rates; Savings accounts; Cash management accounts at banks; $50000,Retail deposit and investment rates; Cash management trusts,Retail deposit and investment rates; Banks' term deposits ($10000); 1 month,Retail deposit and investment rates; Banks' term deposits ($10000); 3 months,Retail deposit and investment rates; Banks' term deposits ($10000); 6 months,Retail deposit and investment rates; Banks' term deposits ($10000); 1 year,Retail deposit and investment rates; Banks' term deposits ($10000); 3 years,Retail deposit and investment rates; Banks' term deposits ($10000); Average rate (all terms)
Title,,,,,,,,,,,,,,,
1981-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.65,11.65,11.9,NaN,NaN
1982-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.65,11.65,11.9,NaN,NaN
1982-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.15,12.15,12.4,NaN,NaN
1982-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.65,12.65,12.4,NaN,NaN
1982-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,13.15,13.65,13.4,13.4,NaN

In [ ]:
data = requests.get(PAID_DEPOSIT_RATES).content

rows_skip = list(range(11))
rows_skip.pop(1)

df = pd.read_excel(data, 
                   sheet_name="Data",
                   skiprows=rows_skip,
                   index_col=0, 
                   header=0)

df.sample(5)

## GDP

In [133]:
import csv

"""Assumes a bs4 object has been passed in"""
def tag_to_csv(table_tag, dst_path):
    with open(dst_path, mode='w', newline='', encoding='utf-8') as csv_file:
        writer = csv.writer(csv_file)

        # Iterate through table rows <tr>
        for row in table_tag.find_all('tr'):
            # Get all <td> or <th> in the row
            columns = row.find_all(['td', 'th'])

            # Extract text from each column and write the row to the CSV file
            writer.writerow([col.text.strip() for col in columns])

In [145]:
from bs4 import BeautifulSoup

def write_table(string, url, dst_path="experiment.csv"):
    content = requests.get(url).content
    soup = BeautifulSoup(content, 'lxml')
    
    caption_tag = soup.find('caption', string=string)

    table_tag = caption_tag.find_parent()

    tag_to_csv(table_tag, dst_path)

In [146]:
# no #1: Gross domestic product, chain volume measures, seasonally adjusted
#
GDP_URL = "https://www.abs.gov.au/statistics/economy/national-accounts/australian-national-accounts-national-income-expenditure-and-product/latest-release"
gdp_string = "Gross domestic product, chain volume measures, seasonally adjusted"

In [161]:
write_table(gdp_string, GDP_URL)

pd.read_csv("experiment.csv", index_col=0).head(5)

        Levels (RHS) ($b)  Quarterly growth (%)
Jun-16              516.5                   0.6
Sep-16              516.6                   0.0
Dec-16              522.6                   1.2
Mar-17              524.3                   0.3
Jun-17              527.6                   0.6

## Immigration

In [163]:
IMMIGRATION_URL = "https://www.abs.gov.au/statistics/people/population/overseas-migration/2022-23-financial-year/34070DO001_202223.xlsx"

data = requests.get(IMMIGRATION_URL).content

In [164]:
rows_skip = list(range(12))

df = pd.read_excel(data, 
                   sheet_name="Table 1.3",
                   skiprows=rows_skip,
                   index_col=0, 
                   header=0, 
                   nrows=250)

In [165]:
df.head(5)

,Country of birth(c),2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22,2022-23(d)
SACC code(c),,,,,,,,,,,,,,,,,,,,
1101,Australia,-4140,-3210,-3550,-4010,-150,-690,-2020,-1480,-2310,-4380,-5710,-5030,-3190,-2880,-3050,3620,-1790,-4210,-8170
1102,Norfolk Island(e),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1199,"Aust E T, nec",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1201,New Zealand,3040,3240,3570,4090,3810,3290,6060,7090,5640,2740,1630,2050,1790,1910,1780,410,-1760,1740,4600
1301,New Caledonia,0,10,0,10,10,20,-10,10,0,0,10,0,0,0,0,0,-10,0,0

## Age Demos

In [67]:
AGE_DEMO_URL = "https://www.abs.gov.au/statistics/people/population/regional-population-age-and-sex/2023/32350DS0005_2001-23.xlsx"

data = requests.get(AGE_DEMO_URL).content

In [74]:
rows_skip = list(range(6))

df = pd.read_excel(data, 
                   sheet_name="Table 3",
                   skiprows=rows_skip,
                   index_col=0, 
                   header=0) \
.iloc[:-1]

In [158]:
df.head(5)

,Australian Bureau of Statistics,Earners (persons),Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Median age of earners (years),Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0,...,Median ($),Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0,Unnamed: 21_level_0,Mean ($),Unnamed: 23_level_0,Unnamed: 24_level_0,Unnamed: 25_level_0,Unnamed: 26_level_0
,"Personal Income in Australia: Table 1. Total income, earners and summary statistics by geography, 2016-17 to 2020-21",2016-17,2017-18,2018-19,2019-20,2020-21,2016-17,2017-18,2018-19,2019-20,2020-21,...,2016-17,2017-18,2018-19,2019-20,2020-21,2016-17,2017-18,2018-19,2019-20,2020-21
Australia,SA2 NAME,"13,675,002","14,069,078","14,425,034","14,619,600","14,760,008",42,42,42,42,42,...,"48,083","49,805","51,389","52,338","54,890","63,508","64,247","65,954","67,255","70,522"
New South Wales,SA2 NAME,"4,344,142","4,466,939","4,569,649","4,614,939","4,603,736",42,42,42,42,42,...,"48,394","50,153","51,818","52,849","55,854","66,055","67,195","68,813","70,114","74,094"
101021007,Braidwood,"2,261","2,311","2,362","2,427","2,467",50,51,51,50,51,...,"40,790","42,003","41,593","44,246","46,640","52,068","51,639","51,192","61,506","68,904"
101021008,Karabar,"4,989","5,057","5,099","5,131","5,103",42,42,42,42,42,...,"57,460","59,295","61,777","62,946","65,564","63,294","63,808","66,381","67,442","69,672"
101021009,Queanbeyan,"6,482","6,594","6,699","6,773","7,028",39,39,39,39,39,...,"55,033","57,848","60,119","61,724","63,528","61,747","62,878","65,809","67,298","69,174"

## Population Projections

In [166]:
POPULATION_PROJ_URL = "https://www.abs.gov.au/statistics/people/population/population-projections-australia/latest-release"
string = "Projected population, Victoria"

write_table(string, POPULATION_PROJ_URL)
pd.read_csv("experiment.csv", index_col=0).head(5)

     High series Medium series Low series
2022   6,630,258     6,630,258  6,630,258
2023   6,793,450     6,775,597  6,758,046
2024   6,941,905     6,898,479  6,862,260
2025   7,094,861     7,023,308  6,965,405
2026   7,252,691     7,152,161  7,066,644

In [167]:
string = "Projected natural increase, Victoria"

write_table(string, POPULATION_PROJ_URL)
pd.read_csv("experiment.csv", index_col=0).head(5)

     High series Medium series Low series
2022      31,624        31,624     31,624
2023      30,692        29,839     29,038
2024      32,580        30,007     27,589
2025      34,363        29,930     25,835
2026      36,616        30,239     24,407

In [168]:
string = "Population proportion(a), Victoria"

write_table(string, POPULATION_PROJ_URL)
pd.read_csv("experiment.csv", index_col=0).head(5)

,ERP - 2022 (%) (%),High series - 2071 (%) (%),Medium series - 2071 (%) (%),Low series - 2071 (%) (%)
Age,,,,
0,1.17,1.01,0.92,0.78
1,1.16,1.01,0.92,0.79
2,1.14,1.01,0.92,0.79
3,1.17,1.01,0.92,0.80
4,1.18,1.02,0.93,0.80

## Socio Economic

In [150]:
SOCIO_URL_1 = "https://www.abs.gov.au/statistics/labour/earnings-and-working-conditions/personal-income-australia/2020-21-financial-year/Table%201%20-%20Total%20income%2C%20earners%20and%20summary%20statistics%20by%20geography%2C%202016-17%20to%202020-21.xlsx"

data = requests.get(SOCIO_URL_1).content

In [151]:
# getting the lowest level granuality

rows_skip = list(range(5))

df = pd.read_excel(data, 
                   sheet_name="Table 1.4",
                   skiprows=rows_skip,
                   index_col=[0, 1], 
                   header=[0, 1]) \
.iloc[:-5]

In [152]:
df.head(5)

,Australian Bureau of Statistics,Earners (persons),Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Median age of earners (years),Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0,...,Median ($),Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0,Unnamed: 21_level_0,Mean ($),Unnamed: 23_level_0,Unnamed: 24_level_0,Unnamed: 25_level_0,Unnamed: 26_level_0
,"Personal Income in Australia: Table 1. Total income, earners and summary statistics by geography, 2016-17 to 2020-21",2016-17,2017-18,2018-19,2019-20,2020-21,2016-17,2017-18,2018-19,2019-20,2020-21,...,2016-17,2017-18,2018-19,2019-20,2020-21,2016-17,2017-18,2018-19,2019-20,2020-21
Australia,SA2 NAME,"13,675,002","14,069,078","14,425,034","14,619,600","14,760,008",42,42,42,42,42,...,"48,083","49,805","51,389","52,338","54,890","63,508","64,247","65,954","67,255","70,522"
New South Wales,SA2 NAME,"4,344,142","4,466,939","4,569,649","4,614,939","4,603,736",42,42,42,42,42,...,"48,394","50,153","51,818","52,849","55,854","66,055","67,195","68,813","70,114","74,094"
101021007,Braidwood,"2,261","2,311","2,362","2,427","2,467",50,51,51,50,51,...,"40,790","42,003","41,593","44,246","46,640","52,068","51,639","51,192","61,506","68,904"
101021008,Karabar,"4,989","5,057","5,099","5,131","5,103",42,42,42,42,42,...,"57,460","59,295","61,777","62,946","65,564","63,294","63,808","66,381","67,442","69,672"
101021009,Queanbeyan,"6,482","6,594","6,699","6,773","7,028",39,39,39,39,39,...,"55,033","57,848","60,119","61,724","63,528","61,747","62,878","65,809","67,298","69,174"

In [120]:
SOCIO_URL_2 = "https://www.abs.gov.au/statistics/labour/earnings-and-working-conditions/personal-income-australia/2020-21-financial-year/Table%202%20-%20Total%20income%20distribution%20by%20geography%2C%202020-21.xlsx"

data = requests.get(SOCIO_URL_2).content

In [121]:
# getting the lowest level granuality

rows_skip = list(range(4)) + []

df = pd.read_excel(data, 
                   sheet_name="Table 2.4",
                   skiprows=rows_skip,
                   index_col=[0, 1], 
                   header=[0, 1, 2]) \
.iloc[:-5]

In [123]:
df.head(5)

,Australian Bureau of Statistics,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Percentile ratos,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0,Income share,Unnamed: 13_level_0,Unnamed: 14_level_0,Unnamed: 15_level_0,Unnamed: 16_level_0,Unnamed: 17_level_0,Unnamed: 18_level_0
,"Personal Income in Australia: Table 2. Total income distribution by geography, 2020-21",Earners,Median age of earners,Sum,Median,Mean,P80/P20,P80/P50,P20/P50,P10/P50,Gini coefficient,Top 1%,Top 5%,Top 10%,Lowest Quartile,Second Quartile,Third Quartile,Highest Quartile
,Released at 11.30am (Canberra time) 6 December 2023,(persons),years,$,$,$,ratio,ratio,ratio,ratio,coef.,%,%,%,%,%,%,%
Australia,SA2 NAME,"14,760,008",42,"1,040,901,408,310","54,890","70,522",5,1.88,0.38,0.14,0.483,9.8,22.5,33.4,25,25,25,25
New South Wales,SA2 NAME,"4,603,736",42,"341,107,484,589","55,854","74,094",5,1.9,0.38,0.15,0.497,11.2,24.3,35.2,24.6,24.6,24.7,26.1
101021007,Braidwood,"2,467",51,"169,986,703","46,640","68,904",6.84,2.05,0.3,0.07,0.615,21.2,32.6,42.7,31.8,24.3,21.7,22.2
101021008,Karabar,"5,103",42,"355,538,349","65,564","69,672",3.37,1.57,0.47,0.23,0.365,4.4,14.5,24.1,17.8,22.6,32.9,26.7
101021009,Queanbeyan,"7,028",39,"486,157,371","63,528","69,174",3.24,1.58,0.49,0.26,0.368,4.6,14.7,24.5,16.8,24,33.4,25.7

## Schools

In [148]:
SCHOOL_URL = "https://www.education.vic.gov.au/Documents/about/department/schoolsandenrolments.xlsx"

data = requests.get(SCHOOL_URL).content

- Didn't do this section as data is missing private schools
- Also doesn't include location just name
- Includes enrolment at the council level, but that's about all