In [7]:
import pandas as pd
import ast

In [42]:
future_dwelling_df = pd.read_csv('../../data/landing/population/future_sa2_dwelling_information.csv')
regions_df = pd.read_csv('../../data/raw/location/sa2_to_rental_suburb_groups.csv')

future_dwelling_df['code'] = future_dwelling_df['SA2 code']
future_dwelling_df

,GCCSA,SA4 Code,SA3 Code,SA2 code,Region Type,Region,population_2021,population_2026,population_2031,population_2036,...,group_household_2036,lone_person_2021,lone_person_2026,lone_person_2031,lone_person_2036,total_households_2021,total_households_2026,total_households_2031,total_households_2036,code
0,2RVIC,201.0,20101.0,201011001.0,SA2,Alfredton,"16,841","20,756","23,604","26,060",...,393,"1,158","1,494","1,799","2,039","6,044","7,716","9,099","10,126",201011001.0
1,2RVIC,201.0,20101.0,201011002.0,SA2,Ballarat,"12,071","11,698","11,803","11,986",...,246,"1,918","2,009","2,161","2,313","5,422","5,490","5,683","5,865",201011002.0
2,2RVIC,201.0,20101.0,201011005.0,SA2,Buninyong,"7,229","7,372","7,685","8,029",...,73,538,602,703,820,"2,666","2,767","3,008","3,239",201011005.0
3,2RVIC,201.0,20101.0,201011006.0,SA2,Delacombe,"10,648","15,915","20,476","24,965",...,421,877,"1,390","1,855","2,270","4,105","6,289","8,347","10,286",201011006.0
4,2RVIC,201.0,20101.0,201011007.0,SA2,Smythes Creek,"4,211","4,312","4,457","4,725",...,29,193,203,226,263,"1,429","1,488","1,600","1,726",201011007.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
regions_df_list = regions_df.copy()
regions_df_list['code'] = regions_df_list['code'].apply(ast.literal_eval)

exploded_regions = regions_df_list.explode('code')
exploded_regions['code'] = exploded_regions['code'].apply(pd.to_numeric, errors='coerce')
regions_with_stats = pd.merge(exploded_regions, future_dwelling_df, on='code')

regions_with_stats['occupancy_rate_2021'] = pd.to_numeric(regions_with_stats['occupancy_rate_2021'].str.replace('%', ''), errors='coerce') / 100 
regions_with_stats['occupancy_rate_2026'] = pd.to_numeric(regions_with_stats['occupancy_rate_2026'].str.replace('%', ''), errors='coerce') / 100 
regions_with_stats['occupancy_rate_2031'] = pd.to_numeric(regions_with_stats['occupancy_rate_2031'].str.replace('%', ''), errors='coerce') / 100 

regions_with_stats

,Unnamed: 0,geometry,suburbs,regions,code,GCCSA,SA4 Code,SA3 Code,SA2 code,Region Type,...,group_household_2031,group_household_2036,lone_person_2021,lone_person_2026,lone_person_2031,lone_person_2036,total_households_2021,total_households_2026,total_households_2031,total_households_2036
0,0,POLYGON ((144.97018001032677 -37.8606998481848...,Albert Park-Middle Park-West St Kilda,"['Albert Park', 'St Kilda - West']",206051128,2GMEL,206.0,20605.0,206051128.0,SA2,...,489,525,"2,916","3,299","3,486","3,682","7,817","8,753","9,225","9,801"
1,0,POLYGON ((144.97018001032677 -37.8606998481848...,Albert Park-Middle Park-West St Kilda,"['Albert Park', 'St Kilda - West']",206051514,2GMEL,206.0,20605.0,206051514.0,SA2,...,729,784,"4,035","4,623","4,861","5,109","7,800","8,928","9,351","9,835"
2,1,POLYGON ((144.79015492149858 -37.8621593959499...,Altona,"['Altona', 'Altona North']",213021341,2GMEL,213.0,21302.0,213021341.0,SA2,...,157,169,"1,785","1,835","1,896","1,967","5,930","6,248","6,510","6,862"
3,1,POLYGON ((144.79015492149858 -37.8621593959499...,Altona,"['Altona', 'Altona North']",213021343,2GMEL,213.0,21302.0,213021343.0,SA2,...,252,285,"1,680","1,814","2,050","2,299","6,011","6,776","7,953","9,094"
4,2,POLYGON ((145.01167433388778 -37.8535692509816...,Armadale,['Armadale'],206061135,2GMEL,206.0,20606.0,206061135.0,SA2,...,359,361,"1,896","1,998","2,056","2,134","4,731","5,077","5,318","5,629"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,141,POLYGON ((144.8869958358719 -37.85078700244943...,Williamstown,['Williamstown'],213021346,2GMEL,213.0,21302.0,213021346.0,SA2,...,139,159,"1,747","1,850","2,004","2,162","6,493","6,865","7,275","7,803"
291,142,POLYGON ((146.77393701213975 -36.1280104970832...,Wodonga,"['Wodonga', 'West Wodonga']",204031492,2RVIC,204.0,20403.0,204031492.0,SA2,...,223,226,"2,537","2,619","2,737","2,857","6,984","7,087","7,259","7,433"
292,142,POLYGON ((146.77393701213975 -36.1280104970832...,Wodonga,"['Wodonga', 'West Wodonga']",204031073,2RVIC,204.0,20403.0,204031073.0,SA2,...,173,181,"1,815","1,990","2,185","2,379","6,285","6,586","6,930","7,278"
293,143,POLYGON ((144.85984002458792 -37.8138202803743...,Yarraville-Seddon,"['Yarraville', 'Seddon - Kingsville']",213031352,2GMEL,213.0,21303.0,213031352.0,SA2,...,437,493,"1,631","1,739","1,837","1,951","6,432","6,815","7,262","7,779"
294,143,POLYGON ((144.85984002458792 -37.8138202803743...,Yarraville-Seddon,"['Yarraville', 'Seddon - Kingsville']",213031350,2GMEL,213.0,21303.0,213031350.0,SA2,...,319,306,"1,139","1,309","1,355","1,429","4,045","4,648","4,878","5,154"

In [62]:
df = regions_with_stats.copy()

TITLES = ['occupancy_rate', 'couple_family_with_children', 'couple_family_without_children', 'one_parent_family',
              'other_family', 'lone_person', 'group_household', 'total_households', 'population', 'hhs']

SUM_TITLES = ['couple_family_with_children', 'couple_family_without_children', 'one_parent_family',
              'other_family', 'lone_person', 'group_household', 'total_households', 'population']
AVG_TITLES = ['occupancy_rate', 'hhs']

for title in TITLES:

    df[title + '_2021'] = pd.to_numeric(df[title + '_2021'].fillna('0').astype(str).str.replace(',', ''), errors='coerce')
    df[title + '_2026'] = pd.to_numeric(df[title + '_2026'].fillna('0').astype(str).str.replace(',', ''), errors='coerce')
    df[title + '_2031'] = pd.to_numeric(df[title + '_2031'].fillna('0').astype(str).str.replace(',', ''), errors='coerce')

    for i in range(1, 5):
        df[title + f'_20{21 + i}'] = df[title + '_2021'] +  (df[title + '_2026'] - df[title + '_2021']) * 0.2 * i

    df[title + f'_2027'] = df[title + '_2026'] +  (df[title + '_2031'] - df[title + '_2026']) * 0.2 * i

sum_titles = [f'{title}_{year}' for title in SUM_TITLES for year in range(2021, 2028)]
avg_titles = [f'{title}_{year}' for title in AVG_TITLES for year in range(2021, 2028)]

merged_final = pd.merge(df.groupby('suburbs')[sum_titles].sum().reset_index(), df.groupby('suburbs')[avg_titles].mean().reset_index(), on='suburbs')

merged_final.to_csv('../../data/raw/dwelling/future_dwelling.csv')

0      90%
1      88%
2      93%
3      92%
4      89%
      ...
290    90%
291    94%
292    97%
293    94%
294    92%
Name: occupancy_rate_2031, Length: 295, dtype: object